<<<<<<< HEAD
body {
  font-family: Arial;
  background: #f5f5f5;
  margin: 0;
  text-align: center;
}

h1 {
  background: #2ecc71;
  color: white;
  padding: 15px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.produk-list {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 150px;
}

button {
  background: #2ecc71;
  color: white;
  padding: 8px;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.hapus {
  background: red;
}

.qty-btn {
  background: #3498db;
}

.keranjang {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}
=======
# mayapada-store
>>>>>>> 1f1b3097d29c70d02afe67b80ccd6c3174070ad6
