body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0,0,0,0.8);
  position: sticky;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.logo-container h1 {
  font-size: 24px;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("VBGHMTG.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.overlay h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
}

/* PRODUK */
.produk {
  padding: 60px 20px;
  text-align: center;
  background: #111;
}

.produk h2 {
  margin-bottom: 10px;
}

.coming {
  color: #aaa;
  margin-bottom: 30px;
}

.produk-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.produk-card {
  width: 200px;
  height: 200px;
  background: #222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.produk-card:hover {
  transform: scale(1.05);
}

.kosong {
  border: 2px dashed #555;
}