/* PRODUK */
.produk {
  padding: 50px 20px;
  text-align: center;
}

.produk h2 {
  margin-bottom: 30px;
}

.produk-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.produk-card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.produk-card:hover {
  transform: translateY(-5px);
}

.produk-card img {
  width: 100%;
  border-radius: 10px;
}

.harga {
  font-weight: bold;
  margin: 10px 0;
}

.produk-card button {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.produk-card button:hover {
  background: #27ae60;
}

/* KERANJANG */
.keranjang {
  padding: 50px 20px;
  background: #f4f4f4;
  text-align: center;
}

#list-keranjang {
  list-style: none;
  padding: 0;
}

#list-keranjang li {
  margin: 10px 0;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

.keranjang button {
  background: #25D366;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}